/* ^^^^^^^^^^^^^^^^^^^^ Footer ^^^^^^^^^^^^^^^^^^^^^^^^^ */
#ul_li2 a img {
    margin-right: 8px;
    /* border: 2px solid white; */
}

footer {

    /* border: 2px solid red; */
    background-color: #232f3e;
    color: white;
}

#footer_first {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-bottom: 10px; */
}

.footer_box {
    width: 19vw;
    /* height: 3px; */
    /* border: 3px solid white; */
    /* color: white; */
    padding: 20px 40px;
    margin: 0px;

}

.footer_box ul {
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.footer_box ul li {
    /* padding: 10px 0px; */
    margin:10px 0px;
    border: 2px solid transparent;
}

.footer_box ul li:hover {
    /* border: 2px solid white;
     */
    text-decoration:underline;
     border-radius: 5px;
    cursor: pointer;

}

#footer_second {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_second img,
#footer_second a {
    margin: 10px;
    padding: 5px 20px;
}

#footer_second a select {
    width: 100px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;
}


#footer_third ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* padding: 10px; */
    background-color: #131921;
}

#footer_third ul li {
    padding: 20px;
}

#back {
    width: 100%;
    height: 40px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    background-color: #131921;
    align-items: center;
}


#back a {
    margin: 10px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    font-size: 18px;
}

/* ^^^^^^^^^^^^^ Footer Finsihed ^^^^^^^^^^^^^ */